<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel SIW</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">Hotel SIW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UserBookings">Prenotazioni</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li th:unless="${#request.userPrincipal}" class="nav-item user-form">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li th:unless="${#request.userPrincipal}" class="nav-item user-form">
                    <a class="nav-link" href="/register">Registrati</a>
                </li>
                <li  class="nav-item user-form" >
                    <a th:if="${#request.userPrincipal}" class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="room-table">
        <thead>
            <tr>
                <th>Tipo stanza</th>
                <th>Descrizione</th>
                <th>Foto</th>
                <th>Disponibilita'</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="room : ${room}">
                <td th:text="${room.name}"></td>
                <td th:text="${room.desc}"></td>
                <td><img th:src="${room.img}" alt="Immagine stanza" style="width: 100px;"></td>
                <td th:text="${room.available}"></td>
                <td th:text="${room.price}"></td>
                <td>
                    <form th:action="@{/bookRoom/{id}(id=${room.id})}" method="post">
                        <input type="hidden" name="_method" value="PATCH" />
                        <button type="submit" class="btn btn-primary">Prenota</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    


    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2023 Hotel SIW. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
